[Unit]
Description={{ cpu_boost_service_description }}
After=multi-user.target
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash -c 'echo {{ "0" if not cpu_boost_enabled else "1" }} > {{ cpu_boost_sysfs_path }}'
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
